aiobotocore==2.15.2
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aioitertools==0.12.0
aiosignal==1.3.1
async-timeout==4.0.3
attrs==24.2.0
blinker==1.8.2
botocore==1.35.36
click==8.1.7
Flask==3.0.3
frozenlist==1.5.0
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
MarkupSafe==2.1.5
multidict==6.1.0
numpy==1.26.4
pandas==2.2.3
propcache==0.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
scikit-learn==1.3.2
scipy==1.13.1
six==1.16.0
threadpoolctl==3.5.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.20
Werkzeug==3.0.4
wrapt==1.16.0
yarl==1.16.0
zipp==3.20.2
